* {
    box-sizing: border-box
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 100%
}

body {
    background-color: #17202a;
    color: white;
    margin: 0px;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box
}

a {
    border-bottom:  0.75px #0a84ff;
    text-decoration: none;
    color: #0a84ff;
}

#page-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 4.25rem;
}

@media (min-width: 20rem) {
    #page-container {
        padding: 0 1.25rem
    }
}

@media (min-width: 58rem) {
    #page-container {
        padding: 0;
        max-width: 48.75rem
    }
}

#page-container .avatar {
    background-image: url("nikolas.png");
    background-size: 150px 150px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 4.25rem
}

#page-container h1 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.375rem;
    text-align: center;
    margin: 0px;
}

#page-container main {
    display: -ms-flexbox;
    display: flex
}

@media (min-width: 20rem) {
    #page-container main {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 2.25rem
    }
}

@media (min-width: 48rem) {
    #page-container main {
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 3.25rem;
        margin-bottom: 1.25rem;
    }
}

#page-container main h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.375rem;
}

#page-container p {
    font-size: 1rem;
    line-height: 1.8;
    margin: 0px;
}

#top {
    text-align: center;
}

@media (min-width: 48rem) {
    #page-container .about {
        padding-right: 6rem
    }
}

img,
svg {
    max-width: 100%
}

img {
    transition: all 0.3s ease-in-out 0s;
}

/* Overriding The Default Text Selection Color With CSS
https://css-tricks.com/overriding-the-default-text-selection-color-with-css/ */
::selection {
    background: #0a84ff;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #0a84ff;
    /* Gecko Browsers */
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	/* padding-top: 25px; */
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}